<h1 class='text-2xl font-semibold text-gray-900 ml-10 mt-28'>All celebrities</h1>
<div class='columns-2'>
  {{#each this}}
    <div class='max-w-sm rounded overflow-hidden shadow-lg'>
      <div class='px-6 py-4'>
        <div class='font-bold text-xl mb-2'>Celebrity: {{name}}</div>
        <div class='font-bold text-xl mb-2'>Occupation: {{occupation}}</div>
        <div class='font-bold text-xl mb-2'>Catchphrase:</div>
        <p class='text-gray-700 text-base'>
          {{catchphrase}}
        </p>
      </div>
      <div class='px-6 pt-4 pb-2'>
        <span
          class='inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
        >#celebrity</span>
        <span
          class='inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
        >#occupation</span>
        <span
          class='inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2'
        >#catchfrase</span>
      </div>
    </div>
  {{/each}}
</div>